header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 13px;
    vertical-align: baseline;
    padding: 0;
    background-color: aliceblue;
}

.navbar > * {
    font-size: 20px;
    white-space: nowrap;
    padding: 10px;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    flex: 1 1;
    font-size: 50px;
}

.navmenu-button-container{
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
}

.navmenu-button {
    cursor: pointer;
}

.navmenu-button > * {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.navmenu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background-color: rgb(248, 248, 248);
    width: 100%;
}

.navmenu > * {
    display: block;
    font-size: xx-large;
    padding: 10px;
    margin: 10px;
}

.navmenu-open .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.navmenu-open .bar2 {opacity: 0;}

.navmenu-open .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.nav-button {
    padding: 10px;
    border: 1px solid;
    border-radius: 1rem;
    text-decoration: none;
    color: inherit;
}
/*
<!-- HTML !-->
<button class="button-30" role="button">Button 30</button>
*/
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  line-height: 1.25;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}